.row
    .col-md-6
        .tile
            h3.tile-title Commandes en attente
            
            include ./components/_orders.waiting.pug
    .col-md-6
        .tile 
            h3.tile-title Stocks
            include ./components/_support.stockView.pug
.row
    .col-md-6
        .tile
            h3.tile-title Box remises / Box en attente
            include ./components/_support.boxDispatch.pug
            
    .col-md-6
        .tile
            h3.tile-title Nombre de box remises
            include ./components/_support.boxDelivered.pug