table.table.table-hover.table-bordered#contentsDataTable
    thead
        tr
            th Titre          
            th Famille            
            th Date de mise à jour
    tbody
                