.row 
	.col-md-6
		.tile
			h3.tile-title Stocks des produits
			
			.row
				.col-md-12
					.embed-responsive.embed-responsive-16by9(style="max-height: 600px")
						canvas.embed-responsive-item(id="stock_chart")
	.col-md-6
		.tile
			h3.tile-title Stocks des boxs
			
			.row
				.col-md-12
					.embed-responsive.embed-responsive-16by9(style="max-height: 600px")
						canvas.embed-responsive-item(id="box_chart")
