.clearfix
footer
	.col-12
		.text.text-center Cet e-mail est envoyé automatiquement, merci de ne pas y répondre.
		br
		br
		br
		br
	
	.col-2
		img.footer-picture(src=`${hostname}` + "/pictures/mail/ministere.jpg")
	
	.col-10
		img.footer-picture.small-height(src=`${hostname}` + "/pictures/mail/logo-inline.jpg")
		
		.text Tumeplay est une initiative des Ministères des Solidarités et de la Santé.
	.clearfix
