.header-picture
{
	max-width: 100px;
	margin-bottom: 10px;
}

.main-subtitle 
{
	font-family: 'CarterOne-Regular';
	font-size: 18px;
	display: inline-block;
	margin-bottom: 6px;
}


.subtitle 
{
	color: #C80352;
	font-family: 'Abel-Regular';
	font-size: 20px;
}

.text
{
	font-family: 'Chivo-Regular';
	font-size: 13px;
	line-height: 22px;
}

.bold
{
	font-family: 'Chivo-Bold';
}

.colorised
{
	color: #C80352;
}

.clearfix
{
	clear: both;
}

.instagram-icon
{
	height: 20px;
	width: 20px;
	margin-left: 4px;
	margin-right:4px;
	vertical-align: middle;
}

footer
{
	margin-top: 20px;
	padding-top: 20px;
	border-top: 2px solid #EEEEEE;
	padding-bottom: 20px;
}

.small-height 
{
	height: 30px;
}

.footer-picture
{
	max-width: 100%;
	max-height: 100px;
}

.box-picture
{
	max-width: 170px;
	min-width: 170px;
}
