extends _layout.pug

block title
	| Box désactivée - #{box.title}
	
block content

	.col-12
		.subtitle Bonjour,
		br
		.text La box suivante a été désactivée pour cause de rupture de stock : #{box.title}
		br
		br
	.clearfix
	
	.col-12
		.text Merci !
		br 
		.text Cordialement,
		.text L'équipe Tumeplay
		br
