script(type='text/javascript').
		
		Pace.on('done', function() {
			$('#contentsWaitingPictureDataTable').DataTable();		
			
			$('#contentsWaitingValidationDataTable').DataTable();		
			
			$('#contentsWaitingSoundDataTable').DataTable();		
			
			$('#contentsRedactingDataTable').DataTable();
			
		});