header.app-header
	a.app-header__logo(href='/home') Tumeplay

	// Sidebar toggle button
	a.app-sidebar__toggle(href='#', data-toggle='sidebar', aria-label="Cacher Sidebar")

	// Navbar Right Menu
	ul.app-nav

		// User Menu
		li.dropdown
			a.app-nav__item(href='/users/my-account', aria-label="Ouvrir mon profil")
				i.fa.fa-user.fa-lg
			