extends layouts/_layout.pug

block variables
	- var activePage = 'dashboard'
	- var activeGroup = 'none'

block content
	.app-title
		div
			h1
				i.fa.fa-dashboard
				|  Tableau de bord
			p 

		ul.app-breadcrumb.breadcrumb
			li.breadcrumb-item
				i.fa.fa-home.fa-lg
			li.breadcrumb-item
				a(href='#') Tableau de bord

	if isAllowed(req, "global", "dashboard", "superadministrator")
		include ./includes/dashboards/_superadministrator.pug
		
	else if isAllowed(req, "global", "dashboard", "administrator")
		include ./includes/dashboards/_administrator.pug
		
	else if isAllowed(req, "global", "dashboard", "moderator")
		include ./includes/dashboards/_moderator.pug
		
	else if isAllowed(req, "global", "dashboard", "redactor")
		include ./includes/dashboards/_redactor.pug
		
	else if isAllowed(req, "global", "dashboard", "order_support")
		include ./includes/dashboards/_order_support.pug
		
	else
		include ./includes/dashboards/_empty.pug
		
	
									
block specific-js
	script(type='text/javascript', src="/js/plugins/jquery.dataTables.min.js")
	script(type='text/javascript', src="/js/plugins/dataTables.bootstrap.min.js")
	script(type='text/javascript', src="/js/plugins/chart.js")
	
	if isAllowed(req, "global", "dashboard", "superadministrator")
		include ./includes/dashboards/js/_contents.pug
		include ./includes/dashboards/js/_orders.pug
		include ./includes/dashboards/js/_stock.pug
	
	else if isAllowed(req, "global", "dashboard", "administrator")
		include ./includes/dashboards/js/_contents.pug
		include ./includes/dashboards/js/_orders.pug
		include ./includes/dashboards/js/_stock.pug
		
	else if isAllowed(req, "global", "dashboard", "redactor")
		include ./includes/dashboards/js/_contents.pug
		include ./includes/dashboards/js/_needingActionsContents.pug
		
	
	else if isAllowed(req, "global", "dashboard", "moderator")
		include ./includes/dashboards/js/_contents.pug
		include ./includes/dashboards/js/_needingActionsContents.pug
	
	else if isAllowed(req, "global", "dashboard", "order_support")
		if supportStock
			include ./includes/dashboards/js/_supportStock.pug
		if supportBoxDispatch
			include ./includes/dashboards/js/_supportBoxDispatch.pug
		if supportBoxDelivered
			include ./includes/dashboards/js/_supportBoxDelivered.pug