extends layouts/_layout.pug

block variables
	- var activePage = 'page-contents'
	// - var activeGroup = 'tables'

block title
	if content
		title Modifier un contenu - Tumeplay
	else
		title Créer un contenu - Tumeplay

block content
	.app-title
		div
			h1
				i.fa.fa-book
				|  Contenus
			p Liste des contenus accessibles dans la section "Informations"

		ul.app-breadcrumb.breadcrumb.side
			li.breadcrumb-item
				i.fa.fa-home.fa-lg
			li.breadcrumb-item.active
				a(href="#") Contenus

	.row
		.col-md-12
			include ./forms/content/_form.pug
block specific-js
	// Data table plugin
	script(type='text/javascript', src="/js/plugins/jquery.dataTables.min.js")
	script(type='text/javascript', src="/js/plugins/dataTables.bootstrap.min.js")
	script(type='text/javascript').
		$('#contentsDataTable').DataTable();
