extends layouts/_layout.pug

block variables
	- var activePage = 'page-quizz-categories-edit'
	// - var activeGroup = 'tables'

block title
	if content
		title Modifier une catégorie - Tumeplay
	else
		title Ajouter une catégorie - PassPreservatif

block content
	.app-title
		div
			h1
				i.fa.fa-table
				|  Catégories
			p Liste des catégories composants les Quizzs

		ul.app-breadcrumb.breadcrumb.side
			li.breadcrumb-item
				i.fa.fa-home.fa-lg
			li.breadcrumb-item
				span Quizz
			li.breadcrumb-item.active
				a(href="#") Catégories

	.row
		.col-md-12
			include ./forms/quizz/_form.category.pug
block specific-js
	// Data table plugin
	script(type='text/javascript', src="js/plugins/jquery.dataTables.min.js")
	script(type='text/javascript', src="js/plugins/dataTables.bootstrap.min.js")
	script(type='text/javascript').
		$('#contentsDataTable').DataTable();
