extends layouts/_layout.pug

block variables
    - var activePage = 'page-product-edit'
    // - var activeGroup = 'tables'

block title
    if product
        title Modifier un produit - Tumeplay
    else
        title Créer un produit - Tumeplay

block content
    .app-title
        div
            h1
                i.fa.fa-book
                |  produit
            p Liste des produits accessibles dans la section "Informations"

        ul.app-breadcrumb.breadcrumb.side
            li.breadcrumb-item
                i.fa.fa-home.fa-lg
            li.breadcrumb-item.active
                a(href="#") produit

    .row
        .col-md-12
            include ./forms/product/_form.pug
block specific-js
    // Data table plugin
    script(type='text/javascript', src="/js/plugins/jquery.dataTables.min.js")
    script(type='text/javascript', src="/js/plugins/dataTables.bootstrap.min.js")
    script(type='text/javascript').
        $('#contentsDataTable').DataTable();
