extends layouts/_layout.pug

block variables
	- var activePage = 'page-contents'
	// - var activeGroup = 'tables'

block title
	if content
		title Modifier un contenu - Tumeplay
	else
		title Créer un contenu - Tumeplay

block content
	.app-title
		div
			h1
				i.fa.fa-book
				|  Contenus
			p Liste des contenus accessibles dans la section "Informations"

		ul.app-breadcrumb.breadcrumb.side
			li.breadcrumb-item
				i.fa.fa-home.fa-lg
			li.breadcrumb-item.active
				a(href="#") Contenus

	.row
		.col-md-12
			include ./forms/content/_form.pug
block specific-js
	// Data table plugin
	script(type='text/javascript', src="/js/plugins/jquery.dataTables.min.js")
	script(type='text/javascript', src="/js/plugins/dataTables.bootstrap.min.js")
	script(type='text/javascript', src="/js/plugins/select2.min.js")

	script(type='text/javascript').

		function checkLength(field)
		{
			var maxLength = $(field).data("maxlength");
			var currentText   = $(field).val();
		    var currentLength = $( '<div>' + currentText + '</div>' ).text().length;
			var counter = $(field).parent().find('.limited-counter').first();
			
		    if( currentLength >= maxLength )
		    {
				if( !$(counter).hasClass('counter-danger') )
				{
					$(counter).addClass('counter-danger');
				}
		    }else
		    {
		    	$(counter).removeClass('counter-danger');    
		    }
		    $(counter).text( parseInt(maxLength - currentLength) + ' caractère(s) restant(s).');
		}
		
		
		$('.limited-length').on("input", function(){
			checkLength($(this));
		});
		$('.limited-length').each(function() {
			checkLength($(this));
		});

		var newAnswerBtn_element = document.getElementById("newAnswerBtn");
		newAnswerBtn_element.addEventListener("click", newAnswer, false);

		var numAnswer = $('tr.question-row').length;

		function createInput(type, name, value)
		{
			return $('<td >')
				.addClass('pl-2')
				.addClass('pr-2')
				.append(
					$('<input />')
						.attr('type',  type)
						.attr('name',  name)
						.attr('value', value));
		}

		//- @TODO-RNO: Will need to find a more performant way to do the steps below:
		function newAnswer(){
			var targetList = document.getElementById("responseList");
			var responseContainerItem = document.createElement("tr");

			var _tr 	 = $('<tr >');

			var _type  	 = 'radio';
			var _name    = `answerItems[${numAnswer}][questionState]`;
			var _neutral = createInput(_type, _name, 'isNeutral' );
			var _correct = createInput(_type, _name, 'isCorrect' );
			var _wrong   = createInput(_type, _name, 'isWrong' );

			var _text 	 = $('<input />')
								.attr('type', 'text')
								.attr('data-maxlength', '30')
								.attr('placeholder',`Réponse n°${numAnswer+1}`)
								.attr('name', `answerItems[${numAnswer}][title]`)
								.addClass('limited-length');

			var _limited = $('<label >')
								.addClass('limited-counter')
								.addClass('offset-1')
								.text('30 caractère(s) restant(s)');

			var breakpoint = $('<br />');

			$(_tr).append( _neutral );
			$(_tr).append( _correct );
			$(_tr).append( _wrong );
			$(_tr).append( $('<td >').append(_text).append(_limited) );

			$('#responseList').append( $(_tr) );

			numAnswer++;
		}

		$('body').on("input", '.limited-length', function(){
			checkLength($(this));
		});
		$('.limited-length').each(function() {
			checkLength($(this));
		});

		function buildSelectOptions() {

		}

		$('.search-question').on('click', function() {
			var _select = $('<select>')
								.addClass('question-list')
								.addClass('col-12')
								.addClass('form-control')
								.attr('name', 'blob');


			$.get('/quizzs/questions/ajax/list', function(data) {
				var _localQuestions = data.questions;

				$(_localQuestions).each(function(index, item) {
					var _option = $('<option>').text(item.title).attr('value', item.id);

					$(_select).append( $(_option) );
				});

				console.log(_select);

				swal({
					title				: "Lier une question existante",
					text				: '<div style="position: relative;"><p style="margin-top: 20px; margin-bottom: 12px;">Veuillez sélectionner la question à lier :</p><p>'+ $(_select).prop('outerHTML') +'</p></div>',
					html				: true,
					showCancelButton	: true,
					confirmButtonText	: "Confirmer",
					cancelButtonText	: "Annuler",
					closeOnConfirm		: false,
					closeOnCancel		: false,
				},
				function(isConfirm)
				{
					if (isConfirm)
					{
						var _selected  = $('select.question-list').val();
						var _targetUrl = '/quizzs/questions/ajax/form/' + _selected;

						$.get(_targetUrl, function(data) {
							$('#accordionOne #collapseOne > .card-body').html(data.form);
							swal({
								title				: "Confirmé",
								text				: "L'action a bien été effectuée.",
								type				: "success",
								showCancelButton	: false,
								confirmButtonText	: "Fermer",
								closeOnConfirm		: false,
								closeOnCancel		: false
							});
							return;
						})

					} else {
						swal("Annulé", "Aucune action n'a été réalisée.", "error");
						return;
					}
				});
			   $('.question-list').select2();


			});

		   return false;
		});